:root{
    --c-body-font-clr: #000;
    --c-primary-focus-color: #03a9f5;
    --c-primary-anchor-clr: #03a9f5;
    --c-primary-btn-bg: #f0483e;
    --c-white: #fff;
    --c-zsh-place-fontcolor: #878787;
    --c-zf-hover: #f6f8fb;
    --c-highlight:#448FF7; 
    --c-primary-color:#272F43;
    --c-top-bar-color:#262F45;
    --c-cta:#1AB394;
    --c-cta-padding:12px 20px;
    --c-dark-text:#333333;
    --c-text-color:#272F43;
    --c-b-radius: 3px;
    --c-fontsize14 : 14px;
    --c-fontsize16 : 16px;
    --c-fontsize12 : 12px;
    --c-gray :#555555;
    --c-body-bg:#F5F6F8;
    --c-discard:#A8A8A8;
    --c-gray-100: #ECECEC;
    --c-gray-60: #9d9d9d;
    --c-gray-50: #f5f6f8;
    --c-gray-10: #bbbbbb;
    --c-gray-200: #d6d4d4;
    --c-gray-300: #fcfcfc;
    --c-light-gray:#F4F4F4;
    --c-dark-blue-gray:#464D5D;
    --c-charcoal-blue: #464D5D;
    --c-sonic-silver:#7C7C7C;
    --c-light-black: rgba(0,0,0,0.7);
    --c-silver-gray:#D3D3D3;
    --c-corl:#ff6347;
    --c-off-gray:#FAFAFA;
    --c-mist-slate:#DDDDDD80;
    --c-dark-charcoal: #333;
    --c-soft-silver:#E3E3E3;
    --c-granite-gray:#848484;
    --c-red: red;
    --c-teal: #20A58A;
    --c-celadon-green:#52AD93;
    --c-dodger-blue:#2680EB;
    --c-alice-blue: #edf4fd;
    --c-border-gray: #ddd;
    --c-pale-gray:#eee;
    --c-vibrant-red:#EF4C4C;
    --c-aliceBlue: #ECF4FE;
    --c-mintcream:#EEF6F5;
    --c-drak-sea-green: #88bcaa;
    --c-keppel: #36bc9e;
    --c-light-gray-100: rgba(238,238,238,.5);
}